
@{
    ViewBag.Title = "Отчеты";
}

<h2>Index</h2>
@Html.ActionLink("Отчет по заказм", "CustomerIndents")
@Html.ActionLink("Отчет по продуктам", "FabricValue")
@Html.ActionLink("Отчет по складам", "StoragesLoad")